</br>

<div class="center">
    <h1>Assigned Submissions</h1>
</div>

</br>

<%= render 'submissions_table', submissions: @submissions %>

<br>
<% if is_admin?(current_user) then %>
  <%= link_to 'New Submission', new_submission_path %>
<% end %>