<h1>Editing Abstract Reviewer Assignment</h1>

<%= render 'form', abstract_reviewer_assignment: @abstract_reviewer_assignment %>

<%= link_to 'Show', @abstract_reviewer_assignment %> |
<%= link_to 'Back', abstract_reviewer_assignments_path %>
