.row-proposal {
    width: 100%;
    background-color: rgb(247, 247, 247);
    &:hover {
        cursor: pointer;
    }
}

.center {
    text-align: center;
}

.boxed {
    padding: 1.5rem;
    border: solid #f7f7f9;
}
