.row-proposal {
    width: 100%;
    &:hover {
        cursor: pointer;
    }
}

.center {
    text-align: center;
}
.align-right {
    text-align:right;
}

.boxed {
    padding: 1.5rem;
    border: solid #f7f7f9;
}

nav {
    background-color: #e3f2fd;
}
